extends layout 

block content 
  h1=title  
  p Every item from any category.

  hr.xsm

  h2 Related items
  if items.length > 0
    .items-wraper.xsm
      for item in items 
        .items-item 
          img(src=(item.imgUrl), alt="Item image." class='item-img-sm')
          .items-item-content
            h3 #[a(href=(item.url)) #{item.name}]
            p In stock: #{item.stock}
            p #[strong $#{item.price}.00]
            if item.category
              p #[strong Category]: #[a(href=(item.category.url)) #{item.category.name}]
            else 
              p #[strong Category]: none
            
  else
    p This category has no items.