extends layout 

block content 
  h1=title  
  p #{category.description}.

  .btn-group 
    a(href=(`/categories/edit/${category._id}`))  
      button(class='btn') Edit category
    a(href=(`/categories/delete/${category._id}`)) 
      button(class='btn btn-silver') Delete category
  
  hr.xsm

  h2 Related items
  if items.length > 0
    .items-wraper.xsm
      for item in items 
        .items-item 
          img(src=(item.imgUrl), alt="Item image." class='item-img-sm')
          .items-item-content
            h3 #[a(href=(item.url)) #{item.name}]
            p In stock: #{item.stock}
            p #[strong $#{item.price}.00] 
            
  else
    p This category has no items.